.about-company{
	width:100%;
	margin: 0 auto;
}
.objective-company{
	color:$color-light_grey;
	text-align:center;
	font-size:16px;
	width:60%;
	margin-left:200px;
	padding:10px;
}
.history-company-link{
	text-decoration:none;
	color:$color-light_blue;
}
