.main-header > img{
	width: 25%;
	height: 105px;
	margin-left: 30px;
	margin-bottom: -100px;
	list-style: none;	
}
.additional-information-header{
	margin-left: 880px;
	margin-top: -25px;
	list-style: none;
	display: inline-block;
	color:$color-light_grey;	
}
.additional-information-header > p{
	color:$color-light_grey;
	display:inline-block;	
}
.location-header{
	color:$color-light_grey;
	text-decoration:none;
}
.presentation-banner{
  background: url(../img/banner.jpg) no-repeat;
  height: 300px;
}
.slogan-company{
	color: $color-white;
	margin-left: 90px;
	margin-top: 80px;
	display: inline-block;
	width: 55%;
	font-size: 45px;
}